<p>Register New</p>
<input
  matInput
  type="text"
  placeholder="First Name"
  style="width: 350px; height: 30px;"
/>
<input
  matInput
  type="text"
  placeholder="Last Name"
  style="width: 350px;height: 30px;"
/>
<input
  matInput
  type="email"
  placeholder="Email"
  style="width: 350px;height: 30px;"
/>
<input
  matInput
  type="password"
  placeholder="Password"
  style="width: 350px;height: 30px;"
/>
<input
  matInput
  type="password"
  placeholder="Confirm Password"
  style="width: 350px;height: 30px;"
/>
